<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<style type="text/css">
  #id1{ width:1024px; margin:0px auto;}
  #top{ height:710px; background-color:rgb(255, 255, 255)}
  #nav{ height:100px; background-color:rgb(255, 255, 255)}
  ul{ margin:0px; padding:0px; list-style-type:none; line-height:40px; font-size:0px;}
  li{ display:inline}
  a{ font-family: 'Courier New', Courier, monospace; font-size:16px; color:#FFF; text-decoration:none; padding:11px 40px; }
  a:hover{ background-color:rgb(105, 103, 102)}
  #banner{}
  #left{ width:999px; height: 300px;border: #999 1px solid;float: left;margin-top: 5px;}
  #right{width: 999px;height: 300px;border: #999 1px solid;float: left;margin-top: 5px;}
</style>
</head>

<body>
 <div id="id1">
    <div id="top" style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
        <img src="https://bitfan-id.s3.ap-northeast-1.amazonaws.com/store/b5df72911273ca8151094a541bcdaa42.png" width="192px" style="margin: 0;">
        <img src="https://bitfan-id.s3.ap-northeast-1.amazonaws.com/store/39c081d331eeb82a04d5d31a00cb3857.png" width="1980px" style="margin: 0;">
      </div>              
   <div id="nav">
     <ul>
       <li><a href="index.html">网站首页</a></li>
       <li><a href="https://tayori.bitfan.id/">TOP</a></li>
       <li><a href="https://tayori.bitfan.id/contents/menu/65532">NEWS</a></li>
       <li><a href="https://tayori.bitfan.id/contents/menu/65534">BIOGRAPHY</a></li>
       <li><a href="https://tayori.bitfan.id/contents/menu/65537">DISCOGRAPHY</a></li>
       <li><a href="https://store.bitfan.id/tayori-tri">GOODS</a></li>
     </ul>
   </div>
   <div id="banner">
     <img  src="/src/pages/img/image_processing20231101-22673-qdyp8c.jpeg"/> 
   </div>
   <div id="content">
    <div id="left">
      <h2>会员注册</h2>
      <form name="form1" action="#">
        姓:<input type="text" name="name"/> <br>
        名:<input type="text" name="name"/> <br>
        密码：<input type="text" name="pawed"/><br>
        确认密码: <input type="text" name="confirmpwd"/><br>
        性别：<input type="radio" name="sex"/>男 <input type="radio" name="sex"/>女<br>
        个人介绍: <textarea rows="5" cols="50" name="intro"></textarea>
      头像上传: <input type="file" name="img"><br>
      <input type="submit" value="提交"/>&nbsp;&nbsp;&nbsp;<input type="reset" value="重置"/>
      </form>
    </div>
  <div id="right">
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;调查问卷</h2>
    最喜欢乐队的哪位成员：<select>
      <option selected="selected">
        倚水（isui）
    </option>
    <option>
      raku
    </option>
    <option>
      tazuneru
    </option>
</select><br>
最喜欢的歌 <input type="checkbox" name="sport">春待
最喜欢的歌 <input type="checkbox" name="sport">化作繁星
最喜欢的歌 <input type="checkbox" name="sport">冰雪消融<br>
    </div>
   </div>
   <div id="bottom"></div>
 </div>
</body>
</html>
